#cookie-bar-wp {
  display: none;
	direction: ltr;
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 99999;
}
#cookie-bar-wp a {
	text-decoration: underline;
}
button#cookie-bar-cookie-accept-wp {
	margin:0 .725rem;
	padding: .375rem .8rem;
	border-radius: .375rem;
	font-weight: bold;
}